<!DOCTYPE html>
<html>
<body background="background..jpg">

<style>
.container {
    position: relative;
}

.center {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

img {
    width: 100%;
    height: auto;
    opacity: 0.3;
}
</style>

<center>
<img src="RBC_logo.gif" alt="RBC logo" style="width:100px;height:128px;">
</center>

<div class="container">
 
  <div class="center">

  <p><font size="8" face="eurostile" color="gold">Business Demands</font></p>

	<input type="search" id="mySearch" placeholder="Industries">
  
  
	<a href="default.asp">
  <img src="search.png" alt="HTML tutorial" style="width:42px;height:42px;border:0;">
	</a>
	<p id="demo"></p>
  <p><font size="2" face="verdana" color="gold">shasybqwuydbewudyebuy</font></p>
  </div>
</div>






<script>
function myFunction() {
    var x = document.getElementById("mySearch").placeholder;
    document.getElementById("demo").innerHTML = x;
}
</script>

</body>
</html>