<head>
  <script src="http://code.jquery.com/jquery.min.js" type="text/javascript"></script>
</head>
<link href="../static/css/status_123.css" rel="stylesheet">


<div id="contentbar">
  <div id="bar-1" class="bar-main-contentbar azure">
    <div class="wrap">
      <div class="bar-percentage" data-percentage="38"></div>
      <div class="bar-contentbar">
        <div class="bar"></div>
      </div>
    </div>
  </div>
  <script src = "hlls.html>type="text/javascript"></script>
  
  <div id="bar-2" class="bar-main-contentbar emerald">
    <div class="wrap">
      <div class="bar-percentage" data-percentage="62"></div>
      <div class="bar-contentbar">
        <div class="bar"></div>
      </div>
    </div>
  </div>
  
  <div id="bar-3" class="bar-main-contentbar violet">
    <div class="wrap">
      <div class="bar-percentage" data-percentage="47"></div>
      <div class="bar-contentbar">
        <div class="bar"></div>
      </div>
    </div>
  </div>
  
  <div id="bar-4" class="bar-main-contentbar yellow">
    <div class="wrap">
      <div class="bar-percentage" data-percentage="85"></div>
      <div class="bar-contentbar">
        <div class="bar"></div>
      </div>
    </div>
  </div>
  
  <div id="bar-5" class="bar-main-contentbar red">
    <div class="wrap">
      <div class="bar-percentage" data-percentage="33"></div>
      <div class="bar-contentbar">
        <div class="bar"></div>
      </div>
    </div>
  </div>
  
</div>
<script src="../static/js/bar_percentage.js"></script>